<!DOCTYPE html>
<html>

<head>
    <title>vue-todo</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>

</html>

<body>
    <section id="todoapp">
        <header class="header">
            <h1>todos</h1>
            <div>
                <input 
                    class="new-todo" autofocus autocomplete="off" 
                    placeholder="What needs to be done?" 
                    v-model="newTodo"
                    @keyup.enter="addTodo" />
                <input 
                    type="datetime-local" 
                    id="default-time" 
                    name="appt" 
                    value="2020-01-01T19:30"
                    min="2020-01-01T19:30" 
                    max="2021-01-01T19:30" 
                    v-model="todoTime"
                    required>
            </div>

        </header>
        <section id="main" v-show="todos.length" v-cloak>
            <input 
                id="toggle-all" 
                class="toggle-all" 
                type="checkbox" 
                v-model="allDone" />
            <label for="toggle-all"></label>
            <ul class="todo-list">
                <li v-for="todo in filteredTodos" class="todo" :key="todo.id"
                    :class="{ completed: todo.completed, editing: todo.title == editedTodo }">
                    <div class="view">
                        <input 
                            class="toggle" 
                            type="checkbox" 
                            v-model="todo.completed" />
                        <label @dblclick="editTodo(todo)">{{ todo.title }}
                            <input 
                            type="datetime-local" 
                            id="appt" 
                            name="appt" 
                            :value="todo.time"
                            min="2020-01-01T19:30" 
                            max="2021-01-01T19:30" 
                            v-model="todo.time"
                            required>
                        </label>
                        <button class="destroy" @click="removeTodo(todo)"></button>
                    </div>
                    <input 
                        class="edit" 
                        type="text" 
                        v-model="todo.title" 
                        @keyup.enter="doneEdit(todo)"
                        @keyup.esc="cancelEdit(todo)">
                   
                </li>
            </ul>
        </section>
        <footer class="footer" v-show="todos.length > 0" v-cloak>
            <span class="todo-count"><strong>{{ remaining }}</strong> items left</span>
            <ul class="filters">
                <li><a href="#/all" :class="{selected: status == 'all'}">All</a></li>
                <li><a href="#/active" :class="{selected: status == 'active'}">Active</a></li>
                <li><a href="#/completed" :class="{selected: status == 'completed'}">completed</a></li>
                <li>
                    <button class="clear-complete" v-show="todos.length > remaining" @click="removeCompleted()">Clear
                        complete</button>
                </li>
            </ul>
        </footer>
    </section>
    <footer class="info">
        <p>Double-click to edit a todo</p>
        <p>Written by <a href="http://evanyou.me">Evan You</a></p>
        <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>

    <script>
        "use strict"
        let today = new Date()
        // 2021-01-01T19:30
        var date = today.getFullYear() + '-' + today.getMonth() + '-' + today.getDate() + 'T' + today.getHours() + ":" + today.getMinutes()
        let STORAGE_KEY = 'todo-vue-2';
        var todoStorage = {
            fetch: function () {
                var todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
                if (todos && todos.length === 0) {
                    return todos
                }
                todos.forEach((todo, index) => {
                    todo.id = index
                });
                todoStorage.uid = todos.length;
                return todos;
            },
            save: function (todos) {
                localStorage.setItem(STORAGE_KEY, JSON.stringify(todos));
            }
        }

        const filters = {
            all: function (todos) {
                return todos
            },
            active: function (todos) {
                return todos.filter((todo) => {
                    return !todo.completed
                })
            },
            completed: function (todos) {
                return todos.filter((todo) => {
                    return todo.completed
                })
            }
        }

        var app = new Vue({
            data: {
                todos: todoStorage.fetch(),
                editedTodo: null,
                editing: false,
                newTodo: '',
                todoTime: date,
                status: 'all'
            },
            watch: {
                todos: {
                    handler: function (todos) {
                        todoStorage.save(todos)
                    },
                    deep: true
                }
            },
            computed: {
                filteredTodos: function () {
                    console.log(this.status);
                    return filters[this.status](this.todos);
                },
                remaining: function () {
                    return filters.active(this.todos).length
                },
                allDone: {
                    get: function () {
                        return this.remaining === 0
                    },
                    set: function (value) {
                        this.todos.forEach(function (todo) {
                            todo.completed = value;
                        });
                    }
                }
            },

            filters: {
                pluralize: function (n) {
                    return n === 1 ? "item" : "items";
                }
            },
            methods: {
                addTodo: function () {
                    let value = this.newTodo && this.newTodo.trim()
                    if (!value) {
                        return
                    }
                    if(!this.todoTime || this.todoTime.length === 0){
                        this.todoTime = date
                    }
                    this.todos.push({
                        id: todoStorage.uid++,
                        title: value,
                        completed: false,
                        time: this.todoTime
                    })
                    console.log(date);
                    this.newTodo = ""
                },
                editTodo: function (todo) {
                    this.beforeEditCache = todo.title;
                    this.editedTodo = todo.title;
                },
                doneEdit: function (todo) {
                    if (!this.editedTodo) {
                        return
                    }
                    this.editedTodo = null
                    todo.title = todo.title.trim();
                    if (!todo.title) {
                        this.removeTodo(todo)
                    }
                },
                cancelEdit: function (todo) {
                    this.editedTodo = null;
                    todo.title = this.beforeEditCache;
                },
                removeTodo: function (todo) {
                    this.todos.splice(this.todos.indexOf(todo), 1)
                },
                //xóa toàn bộ complete: chỉ lấy các todo trong status active
                removeCompleted: function (todo) {
                    this.todos = filters.active(this.todos);
                }
            }
        })

        function onHashChange() {
            // lấy status qua url
            var visibility = window.location.hash.replace(/#\/?/, "");
            if (filters[visibility]) {
                app.status = visibility;
            } else {
                window.location.hash = "";
                app.visibility = "all";
            }
        }

        window.addEventListener("hashchange", onHashChange);
        onHashChange();

        function dateToNumberic(date){
            return new Date(date).getTime();
        }

        app.$mount("#todoapp");
    </script>
</body>